{{#each this}}
<li><img class='flag' src='{{ flags.svg}}' alt='{{name}} ' />
  <h2 class="name">{{name}}</h2>
</li>

<ul class="details-list">
  <li class="details"> Capital: {{capital}}</li>
  <li class="details"> Population: {{population}}</li>
  
  <li class="details"> Languages: {{languages}}</li>
 
</ul>
{{/each }}